{% extends 'app/Dummy.html' %}

{% block title %}
<title>School Details Page</title>
{% endblock %}
{% block body_block %}
<center>
    <h1>Welcome to School Details Page</h1>
    <h2>Name of the is {{Schooolobj.name}}</h2>
    <h2>principal name is{{Schooolobj.principal}}</h2>
    <h2>School location is {{Schooolobj.location}}</h2>



    {% for i in Schooolobj.students.all %}
    <h6>Student name is{{i.sname}}</h6>
    <h6>age of Student is{{i.age}}</h6>

    {% endfor %}
    <a href="{% url 'SchoolUpdate' pk=Schooolobj.pk %}" class="btn btn-primary">SchoolUpdate</a>
    <a href="{% url 'SchoolDelete' pk=Schooolobj.pk %}" class="btn btn-primary">DeleteSchool</a>
</center>
{% endblock %}